@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
}

input[type='date'] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
}

input::-webkit-datetime-edit {
  display: block;
  padding: 0;
}

#__next > main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.neon-shadow {
  text-shadow: 0 0 7px #98d58c, 0 0 10px #3bdf46, 0 0 21px #92e3a3;
}

.gray-shadow {
  text-shadow: 0 0 7px #0d0d0d;
}
